@using HoneyWebPlatform.Services.Data.Interfaces
@using HoneyWebPlatform.Web.Infrastructure.Extensions
@using HoneyWebPlatform.Web.ViewModels.User
@model IndexViewModel

@inject IBeekeeperService BeekeeperService
@{
    ViewData["Title"] = "Начална Страница";

    var honeys = Model.Honeys.ToList();
}

@{
    var propolises = Model.Propolises.ToList();
    var posts = Model.Posts.ToList();

    bool isUserBeekeeper = await BeekeeperService.BeekeeperExistsByUserIdAsync(User.GetId()!);
}

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>🍯 Истинският вкус от кошера</h5>
                        <h1>Сладост, която разказва истории</h1>
                        <p>
                            Открий чист български мед директно от местни пчелари. Прочети техните истории, подкрепи труда им и вкуси природата такава, каквато е - чиста, неподправена и истинска.
                        </p>
                        <div class="banner_btn">
                            <div class="banner_btn_iner">
                                <a asp-controller="Honey" asp-action="All" class="btn_2">Поръчай мед <img src="dingo-master/dingo-master/img/icon/left_1.svg" alt=""></a>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pBFQdxA-apI" class="popup-youtube video_popup">
                                <span><img src="img/icon/play.svg" alt=""></span> Прочети историите на нашите пчелари
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->
<!--::exclusive_item_part start::-->
<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Популярни продукти</p>
                    <h2>Натурален пчелен мед от българските пчелари</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/food_item/honey_item_1_Lipov.jpeg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Липов мед</h3>
                        <p>Липов мед с нежен вкус и аромат, носи лекота и топлина при всяка лъжица. </p>
                        <a asp-controller="Honey" asp-action="All" asp-route-Category="Липов" asp-route-SearchString="" asp-route-HoneySorting="0" class="btn_3">Разгледай повече <img src="img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/food_item/honey_item_2_Sunflower.jpeg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Слънчогледов Мед</h3>
                        <p>Слънчогледов мед със златен цвят, сладост и енергия, топъл и пълноценен </p>
                        <a asp-controller="Honey" asp-action="All" asp-route-Category="Слънчогледов" asp-route-SearchString="" asp-route-HoneySorting="0" class="btn_3">Разгледай повече <img src="dingo-master/dingo-master/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/food_item/honey_item_3_Herbal.jpeg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Билков мед</h3>
                        <p>Билков мед със свежи нотки и сила, събира в себе си дарове от полетол</p>
                        <a asp-controller="Honey" asp-action="All" asp-route-Category="Билков" asp-route-SearchString="" asp-route-HoneySorting="0" class="btn_3">Разгледай повече <img src="dingo-master/dingo-master/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 d-none d-sm-block d-lg-none">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/food_item/honey_item_2_Sunflower.jpeg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Слънчогледов Мед</h3>
                        <p>Слънчогледов мед със златен цвят, сладост и енергия, топъл и пълноценен</p>
                        <a asp-controller="Honey" asp-action="All" asp-route-Category="Слънчогледов" asp-route-SearchString="" asp-route-HoneySorting="0" class="btn_3">Разгледай повече <img src="dingo-master/dingo-master/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::exclusive_item_part end::-->
<!-- about part start-->
<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="dingo-master/dingo-master/img/HoneyPlateHome.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h5>Нашата история</h5>
                    <h2>
                        Където бурканчето с мед разказва истории.
                    </h2>
                    <h4>Нашата мисия е заедно да знаем повече за пчелите идеята меда в България</h4>
                    <p>
                        От поколения на поколение, българските пчелари са предавали знанията и страстта си към пчеларството. Днес, в ера на климатичните промени и загубата на биоразнообразие, нашата мисия е двойна: да произвеждаме най-качествения мед и да защитаваме пчелните колони</p>
                        <p>
                        Защото знаем, че пчелите са в критично положение - глобалното затопляне, пестицидите и загубата на естествени местообитания застрашават тяхното оцеляване. Нашата мисия е да подкрепяме българските пчелари, да произвеждаме качествени пчелни продукти и да образоваме обществото за важността на пчелите за екосистемата.
                        </p>
                        <p>
                        Всяка покупка подкрепя българските пчелари
                        </p>
                    </p>
                    <a asp-controller="Honey" asp-action="All" class="btn_3">Разгледай повече <img src="dingo-master/dingo-master/img/icon/left_2.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->
<!-- intro_video_bg start-->
<section class="intro_video_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro_video_iner text-center">
                    <h2>Очаквайте най-доброто</h2>
                    <div class="intro_video_icon">
                        <a id="play-video_1" class="video-play-button popup-youtube"
                           href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                            <span class="ti-control-play"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- intro_video_bg part start-->
<!-- food_menu start-->
<section class="food_menu gray_bg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <p>Популярни продукти</p>
                    <h2>Директно от пчелина</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="nav nav-tabs food_menu_nav" id="myTab" role="tablist">
                    <a class="active" id="Honey-tab" data-toggle="tab" href="#Honey" role="tab" aria-controls="Honey" aria-selected="true">
                        Мед
                        <img src="dingo-master/dingo-master/img/icon/play.svg" alt="play">
                    </a>
                    @*<a id="Propolis-tab" data-toggle="tab" href="#Propolis" role="tab" aria-controls="Propolis" aria-selected="false">
                        Прополис
                        <img src="dingo-master/dingo-master/img/icon/play.svg" alt="play">
                    </a>*@
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Honey" role="tabpanel" aria-labelledby="Honey-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <partial name="_HoneyIndexPartial" model="honeys.Take(3)" />
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <partial name="_HoneyIndexPartial" model="honeys.Skip(3)" />
                            </div>
                        </div>
                    </div>
                    @*<div class="tab-pane fade" id="Propolis" role="tabpanel" aria-labelledby="Propolis-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <partial name="_PropolisIndexPartial" model="propolises.Take(3)" />
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <partial name="_PropolisIndexPartial" model="propolises.Skip(3)" />
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>


<!-- food_menu part end-->
<!--::chefs_part start::-->
<section class="chefs_part blog_item_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Екип</p>
                    <h2>Нашите Пчелари</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item" style="cursor: pointer;" onclick="goToBeekeeperProfile()">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/team/chefs_1.png" alt="">
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Ивайло Борисов</h3>
                        <p>Пчелар, Северозападна България</p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/team/chefs_2.png" alt="">
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Мария Петрова</h3>
                        <p>Главен пчелар, Централна България</p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/team/chefs_3.png" alt="">
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Мария Георгиева</h3>
                        <p>Пчелар-специалист, Южна България</p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 d-none d-sm-block d-lg-none">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="dingo-master/dingo-master/img/team/chefs_1.png" alt="">
                    </div>
                    <div class="single_blog_text text-center">
                        <h3>Николай Петров</h3>
                        <p>Пчелар-експерт, Източна България</p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::chefs_part end::-->
<!--::reservation_part start::-->
<section class="regervation_part section_padding" id="order-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p style="color: #F59F0A; font-weight: bold; font-size: 1.1rem;">Поръчка</p>
                    <h2 style="color: white; font-weight: bold; text-shadow: 0 2px 4px rgba(0,0,0,0.3);">Поръчай Истински пчелен мед</h2>
                    <h3 style="color: white; font-weight: bold; text-shadow: 0 2px 4px rgba(0,0,0,0.3);">Подкрепи работата на български пчелар</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <partial name="_EnhancedOrderFormPartial" model="@ViewBag.OrderFormData" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--::reservation_part end::-->
<!--::review_part start::-->
<section class="review_part gray_bg section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Отзиви</p>
                    <h2>Какво казват нашите клиенти</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11">
                <div class="client_review_part owl-carousel">
                    <div class="client_review_single media">
                        <div class="client_img align-self-center">
                            <img src="dingo-master/dingo-master/img/client/client_1.png" alt="">
                        </div>
                        <div class="client_review_text media-body">
                            <p>
                                Отличен мед с невероятен вкус! Поръчах липов мед и бях изненадан от качеството. 
                                Пчеларите са много професионални и отговарят на всички въпроси. 
                                Определено ще поръчвам отново и ще препоръчам на приятели.
                            </p>
                            <h4>Анна Стоянова, <span>Клиент от София</span></h4>
                        </div>
                    </div>
                    <div class="client_review_single media">
                        <div class="client_img align-self-center">
                            <img src="dingo-master/dingo-master/img/client/client_1.png " alt="">
                        </div>
                        <div class="client_review_text media-body">
                            <p>
                                Отличен мед с невероятен вкус! Поръчах липов мед и бях изненадан от качеството. 
                                Пчеларите са много професионални и отговарят на всички въпроси. 
                                Определено ще поръчвам отново и ще препоръчам на приятели.
                            </p>
                            <h4>Анна Стоянова, <span>Клиент от София</span></h4>
                        </div>
                    </div>
                    <div class="client_review_single media">
                        <div class="client_img align-self-center">
                            <img src="dingo-master/dingo-master/img/client/client_1.png" alt="">
                        </div>
                        <div class="client_review_text media-body">
                            <p>
                                Отличен мед с невероятен вкус! Поръчах липов мед и бях изненадан от качеството. 
                                Пчеларите са много професионални и отговарят на всички въпроси. 
                                Определено ще поръчвам отново и ще препоръчам на приятели.
                            </p>
                            <h4>Анна Стоянова, <span>Клиент от София</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::review_part end::-->
<!--::exclusive_item_part start::-->
<section class="blog_item_section blog_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Последни Новини</p>
                    <h2>Най-новите постове от нашия Блог</h2>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var post in posts)
            {
                <div class="col-sm-6 col-lg-4">
                    <partial name="_HomePostPartial" model="post" />
                </div>
            }

        </div>
    </div>
</section>
<!--::exclusive_item_part end::-->

@section Scripts
{
    <script>
        function goToBeekeeperProfile() {
            @if (!string.IsNullOrEmpty(Model.IvayloBorisovBeekeeperId))
            {
                <text>
                window.location.href = '@Url.Action("Profile", "Beekeeper", new { id = Model.IvayloBorisovBeekeeperId })';
                </text>
            }
            else
            {
                <text>
                alert('Профилът на пчеларя все още не е наличен. Моля опитайте по-късно.');
                </text>
            }
        }
    </script>
}
